p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


.book .book-summary {
    background-color: #467fbf;
}


.book .book-body .page-wrapper .page-inner section.normal blockquote, .book .book-body .page-wrapper .page-inner section.normal dl, .book .book-body .page-wrapper .page-inner section.normal ol, .book .book-body .page-wrapper .page-inner section.normal p, .book .book-body .page-wrapper .page-inner section.normal table, .book .book-body .page-wrapper .page-inner section.normal ul {
    margin-top: 0px;
    margin-bottom: 0.85em;
    text-align: justify;
}


.book.font-family-1 {
  font-family: Georgia, serif;
}
.book.font-family-0 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active > a {
    color: rgb(12, 31, 48);
    background: 0px 0px;
    text-decoration: none;
}


.book .book-summary ul.summary li a, .book .book-summary ul.summary li span {
    display: block;
    padding: 10px 15px;
    border-bottom: none;
    color: #ffffff; /*color de letras en table of contents*/
    background: 0 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    position: relative;



.book .book-body .page-wrapper .page-inner section.normal pre {
    overflow: auto;
    font-size: small;
    word-wrap: normal;
    margin: 0 0 1.275em;
    padding: .85em 1em;
    background: #f7f7f7;
}
}


.book .book-body .page-wrapper .page-inner section.normal pre { /* BLOQUE DE CODIGO*/ 
    overflow: auto;
    word-wrap: normal;
    margin: 0 0 1.275em;
    padding: .85em 1em;
    font-size: small; /*font size code*/ 
    background: #f7f7f7; 
}


.blue-box {
  background-color: #e6f0ff;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.green-box {
  background-color: #d9ffe9;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.orange-box {
  background-color: #ffeedf;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}

.caution, .important, .note, .tip, .warning {
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  background: #f5f5f5 5px center/3em no-repeat;
  border: 2px solid orange;
  border-radius: 10px;
}

